@model IEnumerable<BikeSharing.Models.Client>

@{
    ViewData["Title"] = "Index";
}

<h1>Список пользователей</h1>

<p>
    <a asp-action="Create">Создать пользователя</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patronymic)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Patronymic.Patronymic)
                </td>
                <td>
                    <form asp-action="Delete" asp-route-id="@item.Id" method="post">
                        <a class="btn btn-sm btn-primary" asp-action="ChangeRole" asp-route-id="@item.Id">Права доступа</a>
                        @if (item.BlockingId == null)
                        {                            
                            <a class="btn btn-sm btn-warning" asp-action="Block" asp-route-id="@item.Id">Блокировка пользователя</a>
                        }
                        else
                        {
                            <a class="btn btn-sm btn-success" asp-action="Block" asp-route-id="@item.Id">Разблокировать пользователя</a>
                        }
                        <button type="submit" class="btn btn-sm btn-danger">
                            Удалить пользователя
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
